@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-base: var(--font-inter); */
  /* --font-base: var(--font-nunito-sans); */
  /* --font-base: var(--font-roboto); */
  --font-base: var(--font-noto-sans);
  /* --font-base: var(--font-montserrat); */
  /* --font-base: var(--font-poppins); */
  /* --font-heading: var(--font-merriweather); */
  --font-heading: var(--font-merriweather-sans);
  --color-sidebar-ring: var(--ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Spacing */
  --spacing-nav: var(--height-nav);

  /* Heights */
  --size-nav: var(--height-nav);

  /* Padding */
  --padding-dashboard-layout: 1rem;

  /* Width */
  --width-sidebar: var(--width-sidebar);

  /* Colors */
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --color-placeholder: var(--placeholder);
  --color-pro: var(--pro);
  --color-elite: var(--elite);

  /* Shadows */
  --shadow-sm: var(--shadow-sm);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);

  /* Gradients */
  --background-image-gradient: var(--gradient);
  --background-image-gradient-hover: var(--gradient-hover);

  /* Borders */
  --border-highlight: var(--border-highlight);

  /* Animation */
}

:root {
  --radius: 0.625rem;
  --background-light: oklch(1 0 0);
  --background: oklch(0.98 0 0);
  --background-dark: oklch(0.96 0 0);
  --foreground: oklch(0.35 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.35 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.35 0 0);
  --primary: oklch(0.5694 0.1197 239.91);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  /* --muted: oklch(0.97 0 0); */
  --muted: var(--background-dark);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.5694 0.2068 24.72);
  --border: oklch(0.922 0 0);
  --input: oklch(0.87 0 0);
  --ring: var(--primary);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --warning-foreground: oklch(0.985 0 0);
  --warning: oklch(68.1% 0.162 75.834);
  --success: oklch(59.6% 0.145 163.225);
  --success-foreground: oklch(0.985 0 0);
  --pro: oklch(0.5702 0.0962 320.82);
  --elite: oklch(0.6002 0.1038 184.7);
  --border-highlight: oklch(0.985 0 0);

  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --placeholder: oklch(0.70 0 0);

  /* Height */
  --height-nav: 4rem;

  /* Width */
  --width-sidebar: 200px;

  /* Shadows */
  --shadow-sm: 
    inset 0 1px 2px rgba(0, 0, 0, 0.03),
    0 1px 2px rgba(0, 0, 0, 0.09),
    0 2px 4px rgba(0, 0, 0, 0.07);

  --shadow-md: 
    inset 0 1px 2px #ffffff30,
    0 2px 4px #00000030,
    0 4px 8px #00000015;

  --shadow-lg: 
    inset 0 1px 2px #ffffff30,
    0 4px 6px #00000030,
    0 6px 10px #00000015;

  --gradient: linear-gradient(0deg, var(--background) 95%, var(--background-light));
  /* --gradient-hover: linear-gradient(0deg, var(--background), var(--background-light)); */
  --gradient-hover: linear-gradient(0deg, var(--background-light), var(--background));


  /* borders */
  --border-highlight: oklch(1 0 0);
}

.dark {
  --background: oklch(0.18 0 0);
  --background-light: oklch(0.24 0 0);
  --background-dark: oklch(0.12 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.5694 0.1197 239.91);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --gradient: linear-gradient(0deg, var(--background), var(--background-light));
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background-light text-foreground font-base scroll-smooth;
  }
  html {
    @apply scroll-smooth;
  }
  .container {
    @apply mx-auto px-5;
  }
}

/* Custom animations */
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 1.5s linear infinite;
}


